<style>

</style>

<div layout="row"  layout-xs="column">
  <div flex="auto">

    <md-input-container class="md-block">
      <label>Aroma</label>
      <md-select ng-model="buscaAroma"style="width: 100%">
        <md-option ng-value="aroma.id" ng-repeat="aroma in aromas">{{ aroma.nombre }}</md-option>
      </md-select>
    </md-input-container>
  </div>

  <div flex="auto">
    <md-input-container class="md-block">
      <label>Aroma 2</label>
      <md-select ng-model="buscaAroma">
        <md-option ng-value="aroma.id" ng-repeat="aroma in aromas">{{ aroma.nombre }}</md-option>
      </md-select>
    </md-input-container>
  </div>

  <div flex="auto">
    <md-input-container class="md-block">
      <label>Aroma 2</label>
      <md-select ng-model="buscaAroma">
        <md-option ng-value="aroma.id" ng-repeat="aroma in aromas">{{ aroma.nombre }}</md-option>
      </md-select>
    </md-input-container>
  </div>

</div>

<div layout="row"  layout-align="end center">
  <div class="md-block">
    <md-button class="md-raised md-primary">
      <md-icon><i class="material-icons">search</i></md-icon>
      Buscar
    </md-button>
  </div>
</div>


<!-- Lista -->
<md-list>
  <md-list>
    <md-list-item class="md-2-line" ng-repeat="productor in productores">
      <img src="{{ productor.picture.thumbnail }}" class="md-avatar">
      <div class="md-list-item-text">
        <h3>{{ productor.name.title }}. {{ productor.name.first }} {{ productor.name.last }}</h3>
        <p>ijij</p>
      </div>
    </md-list-item>
  </md-list>
</md-list>